.login{
    background-image: linear-gradient(to right, indigo, violet);
}

.container {
    margin-top: 4em;
}

.faca_login {
    margin-top: 4em;
    margin-bottom: 2em;
    position: relative;
    justify-content: center;
    align-items: center;   
    text-align: center;
}

.email_line, .pw_line{
    margin: 1em;
}

#foco{
    position: relative;
    justify-content: center;
    align-items: center;   
    text-align: center;
}


.login_links {
    bottom: 0;
    position: fixed;
    display: inline-flex;
}
